* {
  box-sizing: border-box;
}

html {
  color: rgba(8, 17, 27, 1);
  font-family: Montserrat, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: rgba(222, 255, 242, 0.5);
}

input,
button {
  font: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
